/* Poke Card styling */
$card-bg: rgb(247, 247, 247);
$card-shadow: 2px 7px 4px 0 rgba(75, 75, 75, 0.45);

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 250px;
  background-color: $card-bg;
  border-radius: 40px;
  margin: 25px;
  box-shadow: $card-shadow;
  position: relative;
  top: 0;
  cursor: pointer;

  // hover off
  transition: all 0.4s ease;

  &:hover {
    transform: scale(1.05, 1.05);
  }
}

.card ul {
  list-style: none;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}

.sprite {
  width: 160px;
  height: auto;
}

.type-container {
  margin: 10px;
}

.type-tag {
  border-radius: 5px;
  padding: 3px 10px;
  margin: 0 8px;
}

// responsive cards
@media screen and (max-width: 833px) {
  .card {
    width: 310px;
    height: 250px;
    margin: 15px 10px;
  }
}

@media screen and (max-width: 414px) {
  .card {
    width: 325px;
    height: 250px;
    margin: 15px 10px;
  }
}
