$btn-font-color: #494089;
$lite-border: 1px solid #ccc;


.filterBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px 0 50px;
  margin: 25px;
}

.filterBar button {
  padding: 6px 20px;
  border-radius: 20px;
  outline: none;
  border: $lite-border;
  color: $btn-font-color;
  display: flex;
  align-items: center;
}

.filterBar button:hover {
  cursor: pointer;
}

.filterBar button img {
  margin-left: 10px;
}

.filterDropDown {
  width: 150px;
  padding: 0 8px 0 8px;
}
