$purple1: #a29bcb;
$purple2: #494089;
$lite: #ccc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-white {
  background-color: white;
}

html,
body {
  background-color: $purple1;

}

.pokeApp {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../img/wpkb.svg');
  background-repeat: no-repeat;
}
.pokeList {
  display: flex;
  flex-direction: column;
}

@import "components/header";
@import "components/filterbar";
@import "components/card";
@import "components/modal";
@import "typography";
@import "components/ball_spin";
