$purple1: #a29bcb;
$purple2: #494089;
$lite: #ccc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-white {
  background-color: white;
}

html,
body {
  background-color: $purple1;

}

.pokeApp {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.backgroundContainer {
  position: absolute;
  // overflow: hidden;
  width: 100%;
  height: 650px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: url('../img/wpkb 2.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 600px;
  opacity: 0.25;
}


.pokeList {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

@import "components/header";
@import "components/filterbar";
@import "components/card";
@import "components/modal";
@import "typography";
