* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #a29bcb;
}

.pokeApp {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px 0 50px;
  width: auto;
}

.logo {
  height: 15%;
  width: 15%;
}
/* contains nav-ul and searchBarContainer*/
nav {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* contains all the nav links */
.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(255, 251, 251);
  border-radius: 20px;
  padding: 20px;
  width: 30%;
  height: 80px;
  list-style: none;
}

.nav-link {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.nav-icon {
  padding-right: 10px;
  height: 20%;
  width: auto;
}

.searchBarContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
  background-color: white;
  width: 400px;
  height: 80px;
  padding: 10px;
}

.searchbar-input {
  font-size: 1.5rem;
  border-radius: 20px;
  border: none;
  width: auto;
  padding-left: 20px;
}

/* remove default outline when cursor is in input field */
.searchbar-input:focus {
  outline: none;
}

.searchBarButton {
  width: 60px;
  border-radius: 20px;
  background-color: white;
  border: none;
}

.pokeList {
  display: flex;
  flex-direction: column;
}

.filterBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px 0 50px;
  font-size: 1.25rem;
}

.filterBar button {
  font-size: 1.25rem;
  padding: 6px 20px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #ccc;
  color: #494089;
  display: flex;
  align-items: center;
}

.filterDropDown {
  width: 150px;
  padding: 0 8px 0 8px;
}

.card-container {
  border: 5px solid orange;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px dashed blue;
}

.card {
  width: 350px;
  height: 250px;
  background-color: white;
  border-radius: 40px;
  margin: 25px;
}

.card ul {
  list-style: none;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}

.sprite {
  width: 160px;
  height: auto;
}

.typeTag {
  border-radius: 15px;
  padding: 3px 5px;
  margin: 4px;
  color: white;
}

.ReactModal__Overlay {
  z-index: 1;
  background: rgba(0, 0, 0, 0.15) !important;
}

.modalWindow {
  z-index: 100;
  box-sizing: border-box;
  width: 975px;
  height: 650px;
  background-color: #f9cf30;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backgroundModalWrapper {
  z-index: 1;
  width: 975px;
  height: 650px;
  border-radius: 25px;
  background: url("../img/pokeballBG.svg") no-repeat;
  background-position: 98% 2%;
}

.modalDetailsTop {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.dexNo {
  font-size: 2.3rem;
  color: rgba(255, 255, 255, 0.7);
  border: 2px solid red;
}

.spriteWrapper {
  border: 2px solid red;
}

.spriteWrapper img {
  height: 250px;
  width: auto;
  border: 2px solid red;
}

.modalCloseButton {
  border: 2px solid red;
  background-size: contain;
  z-index: 2;
}

.modalCloseButton button {
  background: transparent;
  border: none;
  opacity: 0.7;
}

.modalCloseButton button img {
  width: 35px;
  height: 35px;
}

.modalDetailsBottom {
  box-sizing: border-box;
  height: 60%;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
}
.lite-font {
  color: #ccc;
}

.nameContainer {
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nameContainer img {
  width: 30px;
  height: 30px;
}

.nameContainer button {
  background: transparent;
  border: none;
}

.modalPokeName {
  margin: 10px;
  text-transform: uppercase;
}

.modalTabBar {
  border: 2px solid green;
  padding: 10px;
  margin: 10px;
  text-transform: uppercase;
}

.modalTabContent {
}
